

.player-turn{
    /*box-shadow: 0px 0px 5px 5px rgb(214 132 21 / 27%);*/
    transition: ease-in-out 0.9s;
    background: black;
  
}


.player-damage{
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.5);
    background: rgba(165, 14, 14, 0.442);
    transition: ease-in-out 0.3s;
  
}

.conent-rouletteGame{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/public/img/wall9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.conent-rouletteGame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Color negro con opacidad (ajusta el 0.5 a tu gusto) */
    pointer-events: none;}

.Winer-section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/public/img/wall8.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
}




.content-winer-game-rulet{    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;}


    .content-bullets-and-button-reload{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-right: 105px;

    }

    .content-menu-winer-game-rulet{
        display: flex;
            flex-direction: column;
            height: 200px;
            align-items: center;
            justify-content: space-around;
        
    }

.button-initial-game-reload{
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: url("/img/mouse/handpoint.webp"), pointer;
    outline: none;
    width: 70px;
    margin-right: 20px;
    transition: 0.5s;

}

.button-initial-game-reload:hover{
    transform: scale(1.1);
}

.button-initial-game-reload:active{
    transform: scale(0.9);
}

.button-initial-game-reload img{
    width: 100%;
}

.content-weapon-buttons-shoot{
    
    position: absolute;
    bottom: 126px;
    height: 263px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}





.content-weapon-RouletteGame{
    display: flex;
    background-blend-mode: multiply;
    background-image: url('/img/table.png');
    height: 100%;
    width: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.img-weapon-static{
    cursor: url("/img/mouse/handpoint.webp"), pointer;
    transition: 0.5s;
    width: 230px;
    filter: drop-shadow(1px 4px 3px rgba(4, 3, 3, 2.5));
    transform: scale(0.9) rotate(19deg);
}

.img-weapon-static:hover{
    filter: drop-shadow(1px 8px 0px rgba(4, 3, 3, 0.5));
    transform: scale(1) rotate(19deg);
}




.img-weapon-static-invert{
    cursor: url("/img/mouse/handpoint.webp"), pointer;
    transition: 0.5s;
    width: 230px;
    transition: 0.5s;
    width: 230px;
    filter: drop-shadow(1px 4px 3px rgba(4, 3, 3, 2.5));
   
    transform: scaleX(-1) scale(0.9)rotate(19deg);
}

.fire-weapon{
    position: absolute;
    width: 110px;
    bottom: 80%;
    transform: rotate(-31deg);
    z-index: 5555;
}

.fire-weapon-invert{
    position: absolute;
    width: 110px;
    left: -123px;
    bottom: 97%;
    transform: rotate(31deg) scaleX(-1);
    z-index: 5555;
}

.fire-weapon2{
    position: absolute;
    width: 122px;
    right: -147px;
    bottom: 101%;
    transform: rotate(-31deg);
    z-index: 9999999;
}

.fire-weapon-invert2{
    transform: rotate(31deg) scaleX(-1);
    position: absolute;
    width: 122px;
    bottom: 80%;
   left: 0;
    z-index: 5555;
}


.weapon-active{
    cursor: url("/img/mouse/handpoint.webp"), pointer;
    transition: 0.5s;
    transform:  scale(1.2);
    filter: none;
    width: 230px;
}

.weapon-active-invert{
    cursor: url("/img/mouse/handpoint.webp"), pointer;
    transition: 0.5s;
    width: 230px;
    transform:  scaleX(-1)scale(1.2) ;
}



.img-weapon-static-invert:hover{
    transform: scaleX(-1) scale(1) rotate(19deg); /* Escala negativa y aumento de tamaño */
    filter: drop-shadow(1px 8px 0px rgba(4, 3, 3, 0.5));
    
}





.content-weapon{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-info-rulet{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}


.Arraybullets-img-container{
    border: 2px solid #1d1c1c;
    display: flex;
    justify-content: center;
}

.contentall-arrabullets-img{
    display: flex;
    justify-content: center;
    background-color: #474644;
    background-blend-mode: multiply;
    background-image: url('https://www.stalker2.com/_nuxt/img/assets/reusable/button-bg.jpg');

    height: 59px;
    transform: scaleY(-1) scale(1);
    transition: 0.5s;
    align-items: center;
   
}

.invertY{
  
    transition: 0.5s;
    transform: scaleY(-1) scale(1);
}

.invertY2{
    transition: 0.5s;
    transform: scaleY(1) scale(1);
}

.content-onebullet-img img{
    height: 100%;
}

.ocultarbalas img{
transition: 0.2s !important;
    opacity: 0 !important;
}

.mostrarbala img{
    transition: 0.2s;
    opacity: 1 !important;
    
  
}

.content-onebullet-img{
    border: 2px solid #1d1c1c;
    background-color: #0000006b;
    opacity: 1;
    display: flex;
    padding: 0 1px;
    margin: 0 1px;
    transition: 0.2s;
    width: 14.4px;
    height: 86%;
    justify-content: center;
    align-items: center;
}



.content-boxUserInfo-RouletteGame{
    display: flex;
 
    justify-content: center;
}

.backgorund-content-box-bullets{
    border: 3px solid #181818;
    background: #0000008f;
}

.content-UserBoxInfo-Inventori{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-the-buttons-shot{
    position: absolute;
    display: flex;
    align-items: center;
    height: 47px;
    justify-content: space-evenly;
}

.content-botonshotA{
    position: relative;
    right: 142px;
}

.content-botonshotB{
    position: relative;
    left: 169px;
    width: 183px;

}

.content-botonshotA-invert{
    position: relative;
    right: 169px;
    width: 183px;
}

.content-botonshotB-invert{
    position: relative;
    left: 142px;
}


/* imagen weapon  animacion*/

.rotateimage {
    transition: 0.9s;
    transform: scale(1.2) rotate(-140deg);
    
}
.aim-enemy{
    transition: 0.5s;
    transform: scale(1.2) rotate(-26deg);
}



.rotateimage-invert{
    transition: 0.9s;
    transform: scaleX(-1) scale(1.2)  rotate(-140deg);
}

.aim-enemy-invert{
    transition: 0.5s;
    transform: scaleX(-1) scale(1.2)  rotate(-26deg);
}

.shake-animation {
    animation: shake 0.5s ease infinite; /* Aplica la animación de temblor infinitamente */
  }

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-2px, -2px); }
    50% { transform: translate(2px, 2px); }
    75% { transform: translate(-2px, 2px); }
    100% { transform: translate(0, 0); }
  }