.tooltip-container {
 
    position: relative;

  }
  
  .tooltip {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) rotateX(90deg);
    padding: 0.6em;
    opacity: 0.6;
    transition: all 0.5s ease;
    background: transparent;
    height: 0px;
    cursor: default;
  }
  
  .tooltip-visible .tooltip {
    opacity: 1;
    pointer-events: auto;
    background: none;
    transform: translateX(-50%) rotateX(0deg);
  }
  

  .content-text-tooltip
  {
    display: flex;
    width: 236px;
    background: #1a1e1f;
    border-radius: 5px;
    text-align: center;
    height: 60px;
    color: #8a8e8f;
    justify-content: center;
    align-items: center;
}
  


  .content-text-tooltip{
    font-size: 1rem;
  }